<!DOCTYPE html>
<html>
    <head>
        <title>Erik's site</title>
        <link rel="stylesheet" href="./style.css">
        
        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap" rel="stylesheet">
    </head>

    <body>
        {% block content %}
    </body>
</html>